# Visual Studio Build and Cache files
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
build/
*.user
*.aps
*.opendb
*.sdf
*.suo
*.db
*.ipch
*.log
*.bak

# .NET / C# Build files
**/bin/
**/obj/
AppPackages/
BundleArtifacts/
artifacts/

# User-specific files
*.usersecrets
*.suo
*.user
*.userprefs

# Local diagnostics
pretty_output.json
